<div>
  <header class="title-desc chat-header flexrow">
    <h2 style="flex-grow:8">{{setName}}</h2>
  </header>
  
  <div class="fu-tags">
    <div class="fu-tag">
      {{playerName}}
    </div>
    <div class="fu-tag">
      {{mpCost}} MP
    </div>
  </div>
  
  <div class="chat-desc">
    <details open>
      <summary class="collapsible-description align-center">Cards</summary>
      <div class="fu-chat-cards-container">
        {{#each cards}}
          <img src="{{this.img}}" class="fu-chat-card-img" {{#if @index}}style="margin-left: -40px;"{{/if}} title="{{this.name}}">
        {{/each}}
      </div>
      <div class="fu-combo-description" style="text-align: center; margin-top: 10px; font-style: italic;">
        {{comboDescription}}
      </div>
    </details>
  </div>
  
  <div class="chat-desc">
    <details open>
      <summary class="collapsible-description align-center">Effect</summary>
      <p>{{{effect}}}</p>
    </details>
  </div>
  
  <div class="fu-tags flexrow gap-5">
    <a data-action="applyResourceLoss" data-resource="mp" data-amount="{{mpCost}}" data-actor="{{actorId}}" data-tooltip="Click to spend MP">
      <span class="fu-tag button flex-group-center gap-5" style="width:100%;white-space:nowrap">Spend {{mpCost}} <i class="icon fas fa-hat-wizard"></i></span>
    </a>
  </div>
</div>